{% extends 'layout.html' %}

{% block content %}
    <div class="container card p-1">
        <h1>{{ chapter.chapter_name }}</h1>
        <div>{{ chapter.chapter_text | raw }}</div>


        {% if prevId is not null or nextId is not null %}
            <div class="chapter-switcher">
                {% if prevId is not null %}
                    <a class="btn-primary" style="padding: 15px;" href="/read/{{ titleId }}/{{ prevId }}">Предыдущая глава</a>
                {% endif %}
                {% if nextId is not null %}
                    <a class="btn-primary" style="margin-left: auto; padding: 15px;" href="/read/{{ titleId }}/{{ nextId }}">Следующая глава</a>
                {% endif %}
            </div>
        {% endif %}

    </div>
{% endblock %}