{% extends 'layout.html' %}

{% block content %}
    <div class="container grid search-page-grid p-1">
        <div class="card w-80">
            {% if data %}
                <div class="grid titles-grid p-1">
                    {% for poster in data %}
                        <div class="poster-card">
                            <div class="poster-img">
                                <img src="{{ poster.title_cover }}" alt="{{ poster.title_name }} poster">
                            </div>
                            <div class="poster-annotation">
                                <div class="container">
                                    <div class="center"><b>{{ poster.title_name }}</b></div>
                                    <div><p>{{ poster.title_description }}</p></div>
                                </div>
                            </div>
                            <a href="/read/{{ poster.title_id }}"></a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="p-1">
                    <h1>Поиск не дал результатов</h1>
                    <p>По вашему запросу ничего не нашлось, попробуйте ещё раз.</p>
                </div>
            {% endif %}
        </div>
        <div class="card p-1 filters-wrapper">
            <h3>Поиск по жанрам</h3>
            <div class="mb-2">
                <form action="/search" method="post" id="search-filters-form">
                    <input type="text" name="query" id="search" placeholder="Название тайтла"
                           autocomplete="off">
                </form>
            </div>
            <div class="filters flex flex-column">
                <label for="genre1">
                    <input type="checkbox" name="genre-checkbox" id="genre1" value="genre1">Genre1
                </label>
                <label for="genre2">
                    <input type="checkbox" name="genre-checkbox" id="genre2" value="genre2">Genre2
                </label>
                <label for="genre3">
                    <input type="checkbox" name="genre-checkbox" id="genre3" value="genre3">Genre3
                </label>
            </div>
            <button type="button" id="apply-filters-button">Применить</button>
        </div>
    </div>
{% endblock %}