{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div class="card p-1">
            <h1 class="center">{{ title.title_name }}. Обсуждение</h1>
            <hr>

            {% for comment in comments %}
                <div class="thread-post" id="{{ comment.id }}">
                    <span><b>{{ comment.author }}</b> {{ comment.timestamp }}</span>
                    <div class="post-message">{{ comment.message }}</div>
                </div>
            {% endfor %}

            {% if user is not null %}
                <div class="newpost-wrapper">
                    <a href="#" id="newPostButton">Новый пост</a>
                </div>
                <script>
                    let insertForm = () => {
                        newPostButton.insertAdjacentHTML('afterend',
                            '<form action="/newpost?thread_id={{ title.title_id }}" method="get"> \
                <div class="form-group"> \
                                <textarea name="newpost-message" class="newpost-message" cols="30" rows="10" \
                                          placeholder="Текст поста" maxLength="500" required></textarea> \
                </div> \
                <button type="submit" class="btn btn-primary ml-auto">Опубликовать</button> \
                </form>'
                        )
                        newPostButton.remove()
                    }
                </script>
            {% endif %}

        </div>
    </div>
{% endblock %}